.jumbotron
  .jumbotron-title
    %h1
      Inspirations & Solutions Pour La Maison
  .jumbotron-menu
    .je-cherche{style: "background-color: brown;"}
      Je cherche
      .dropdown
        %a.dropdown-toggle#dropdownMenu1{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", style: "background-color: white;"}
          "......................................."
        %ul.dropdown-menu{"role" => "menu"}
          %li
            %a{:href => "#link1"}
              une idée
            %a{:href => "#link2"}
              une couleur
            %a{:href => "#link3"}
              un luminaire
            %a{:href => "#link4"}
              un meuble
    .pour{style: "background-color: brown;"}
      pour
      .dropdown
        %a.dropdown-toggle#dropdownMenu1{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", style: "background-color: white;"}
          "......................................."
        %ul.dropdown-menu{"role" => "menu"}
          %li
            %a{:href => "#link1"}
              ma chambre
            %a{:href => "#link2"}
              ma cuisine
            %a{:href => "#link3"}
              ma salle de bain
            %a{:href => "#link4"}
              mon salon
  .subtitle-jumbotron
    .btn
      Découvrir la communauté