#page
  #affiliation
  #header{:style => "background-color: #f4f3f3; height: 88px;"}
    #logo-et-market
      .header-left
        %a{:href => "http://www.delamaison.fr/"}
          #header_clickHome
    #explorateur_header.explorateur_header{:style => "cursor: pointer;"}
    #header_search
      :javascript
        function testSearchValue(type) {
            if (type == 1) {
                if ($j("#chps_search").val() == "") {
                    $j("#chps_search").val("");
                } else if (/\S$/.test($j("#chps_search").val())) {
                    $j("#chps_search").val($j("#chps_search").val() + " ");
                }
            } else {
                if ($j("#chps_search").val() == '') {
                    $j("#chps_search").val("")
                }
            }
        }

        function testCookiePolicy() {
            if(getCookie("CookiePolicy")=="") {
                $j('#cookiePoolicy').css('display', 'inline');
            }
        }
        function closeLayerCookiePolicy() {
            if(getCookie("CookiePolicy")=="") {
                document.cookie = "CookiePolicy=true; max-age=" + 60 * 60 * 24 * 395;
                $j('#cookiePoolicy').hide();
            }
        }
      / End of Google Website Optimizer Control Script
      %form#quick_find{:action => "http://www.delamaison.fr/", :method => "get", :name => "quick_find", :onsubmit => "try{tracker55.fb(\"recherche\",\"HP\",\"clic\")}catch(e){};creatSearchCookie();"}
        / zzz
        %input#chps_search{:autocomplete => "off", :maxlength => "64", :name => "q", :onblur => "testSearchValue(2)", :onfocus => "testSearchValue(1)", :size => "15", :type => "text", :value => ""}/
        %div{:style => "position:absolute;background:white;width:200px;border:solid #9d9691 1px;margin-top:31px; padding:2px 0 2px 5px;text-align:left;display:none;text-transform:none;"}
        %input#searchBtn.bouton{:type => "submit", :value => ""}/
    :javascript
      domloadedfuncs.push(function () {
          $j("span[u]", "#header_wrapper").each(function () {
              $j(this).replaceWith('<a class=links_footer href="' + $j(this).attr('u') + '#">' + $j(this).html() + '</a>');
          })
      });
      domloadedfuncs.push(function () {
          $j("img[data-original]").lazyload();
      });

      domloadedfuncs.push(function () {
          if (!isMobilePad()) {
              $j(".lazyLoadAd_places").lazyLoadAd({
                  threshold: 200
              });
          }
      });
    #Header_newsletter
      %a#popupHotline{:href => "#", :onclick => "return false;", :rel => "nofollow"}
        %span#Header_contactezNous
        .telHeader
    #Header_blog
      %a#blog_dlm{:href => "http://blog-deco-delamaison.fr/", :rel => "nofollow", :target => "_blank"}
        .blogHeader
    #UTMenu_log
      #header_account
        #header_account_notconnected
          %div
            %ul#menu
              %li
                %a{:href => "#"} Labo déco
              %li
                %a{:href => "#"} Poser une question
              %li
                %a{:href => "#"} Voir les questions
          %span.trait_header  
          %a.header_account_connexion{:href => "javascript:NotifyPL();", :rel => "nofollow"} Connexion
        #header_account_connected
          %a.header_account_connexion{:href => "logoff.php", :rel => "nofollow"} Déconnexion
          %span.trait_header  
          #helloFirstname.header_right
            Bonjour
            %span#header_firstname
      #header_wrapper
        #header_wrapper_notconnected
          %a{:href => "http://www.delamaison.fr/shopping_cart.php", :rel => "nofollow"}
            .header_right{:style => "display:inline-block; margin-top:-6px;"}
              #cart-middle
                %span#header_panier_a Mon panier
        #header_wrapper_connected
          %a.header_right{:href => "account.php", :rel => "nofollow"} Mon compte
          %span.trait_header  
          %a{:href => "http://www.delamaison.fr/shopping_cart.php", :rel => "nofollow"}
            .header_right
              #cart-middle
                %span#header_panier_b Mon panier